node_modules/*
.DS_Store
elm-stuff/
public/*.html
npm-debug.log
public/*.js
public/assets/*.js
public/assets/*.css
dist
bundle*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
public/api/