
<h1 id="main-header">Ben Southgate</h1>
<hr/>

<div id="content">

  <section id="about">

    <p>
    I'm Ben, currently a research assistant at the Urban Institute in Washington D.C. and a graduate of Carleton College. I like tinkering with CoffeeScript for data vizualization, and Python and Julia for statistical programming.
    </p>

    <div id="self-image">
      <img src="static/images/headshot-bw-nobg-sq.png" alt="" class="img-responsive">
    </div>

    <div id="media">
      <a href="https://github.com/bsouthga?tab=repositories">
        <i class="fa fa-github fa-2x"></i>
      </a>
      <a href="http://www.twitter.com/bsouthga/" >
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <a href="http://www.linkedin.com/in/bensouthgate/" >
        <i class="fa fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/bsouthga/cv/blob/master/cv.pdf?raw=true" >
        <i class="fa fa-file-text-o fa-2x"></i>
      </a>
    </div>

  </section>


</div>