
<h1 id="main-header">Ben Southgate</h1>
<hr/>

<div id="content">

  <section id="about">

    <p>
    I'm Ben, I live in in Washington D.C. and currently work as a software engineer for the McChrystal Group. I like tinkering with <a href="https://babeljs.io/docs/learn-es2015/">ECMAScript 6/7/BabelJS</a> for data vizualization and Python and Julia for statistical programming. I'm open to fun part-time consulting projects, shoot me a proposal!
    </p>

    <div id="self-image">
      <img src="static/images/headshot-bw-nobg-sq-sm.png" alt="" class="img-responsive">
    </div>

    <div id="media">
      <a href="https://github.com/bsouthga?tab=repositories">
        <i class="fa fa-github fa-2x"></i>
      </a>
      <a href="http://www.twitter.com/bsouthga/" >
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <a href="http://www.linkedin.com/in/bensouthgate/" >
        <i class="fa fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/bsouthga/cv/blob/master/cv.pdf?raw=true" >
        <i class="fa fa-file-text-o fa-2x"></i>
      </a>
    </div>

  </section>


</div>