<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{{bootstrap_min_css}}}
  <link href="/lib/katex/katex.min.css" rel="stylesheet">
  {{{docco_css}}}
  {{{main_css}}}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <title>{{title}}</title>
</head>
<body>
  <section class="container" id="main-container">

    <div class="col-md-2 col-lg-2 col-lg-offset-1" id="sidenav">
      <ul class="nav nav-stacked" id="sidebar">
        <li><a href="/">Home</a></li>
        <li><a href="/#vizualization">Vizualization</a></li>
        <li><a href="/#thoughts">Thoughts</a></li>
        <li><a href="/#bibliography">Bibliography</a></li>
        <li><a href="/#about">About</a></li>
      </ul>
    </div>


    <div class="col-md-8 col-lg-6">
      <div id="rendered">{{{rendered}}}</div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
      <hr/>
      <div>
        <i class="fa fa-copyright"></i> <a href="/">Ben Southgate</a> | 2014
      </div>
    </div>
  </section>
  {{{jquery_min_js}}}
  {{{bootstrap_min_js}}}
  <script>
    $('#rendered img').addClass('img-responsive')
    $('#rendered h1').addClass('v-center')
    $("#content").scrollspy()
    $('#sidebar').affix({
      offset: {
        top: 0
      }
    })
  </script>
</body>
</html>
